.main {
    display: flex;
    flex-direction: column;
    align-items: center;
     
    max-width: 920px;
    padding: 1rem;

    margin-left: 280px;
    margin-right: 10px;
    margin-top: 10px;
    overflow: hidden;
  }

  .main h2 {
    color: var(--green);
    margin-bottom: 20px;
  }

  .main small {
    color: gray;
    margin-bottom: 24px;
  }

  .main span {
    margin-bottom: 24px;
  }

  .avatar {
    position: relative;
  }
  
  
  .avatar img {
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.4s;
    margin-left: 10px;
  }
  
  
  .editIcon {
    position: absolute;
    top: 50px;
    right: -10px;
  }

  .editIcon svg {
    font-size: 24px;
 
    padding: 2px;
    border-radius: 50%;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 12px 2px;
    background-color: white;

    cursor: pointer;
  }

  .editIcon input {
    display: none;
  }

  .contentInput {
    display: flex;
    flex-direction: column;

    max-width: 550px;
    width: 100%;

    margin-bottom: 10px;
  }

  .areaDescription {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    width: 100%;
    position: relative;
  }

  .areaDescription textarea {
    height: auto;
    padding: 14px;
    border: none;
    border-radius: 24px;
    background: whitesmoke;
    resize: none;

  }

  .areaDescription span {
    font-size: 12px;
    position: absolute;
    right: 6px;
    bottom: -12px;
  }

  .main h3 {
    color: var(--green);
    margin-bottom: 10px;
    margin-top: 24px;

    max-width: 550px;
    width: 100%;
  }
 
  .contentColor  {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    width: 100%;
    gap: 2px;
    margin-bottom: 8px;
  }

  .contentColor input {
    width: 100%;
    height: 20px;
    cursor: pointer;
  }

  .main button {
    display: flex;
    max-width: 550px;
    width: 100%;
    height: 38px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;

    color: white;
    font-size: 12px;
    line-height: 100%;
    margin-top: 20px;
    
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    background: var(--green);
    cursor: pointer;
  }

   .main button:hover {
    opacity: 0.8;
    transition: 0.350s;
  }

 
  @media (width < 920px) {
    .main {
      transition: margin 0.6s;
      margin-left: 78px;
    }
  }
  
  @media (max-width: 480px) {
    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 40px 6px 0 6px;
    }
  }
  