.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.content {
  width: 450px;
}

.content h1 {
  margin-top: 40px;
  margin-bottom: 10px;

  text-align: center;
}

.inputContent {
  display: flex;
  flex-direction: column;

  gap: 8px;
}

.inputContent label {
  font-weight: 700;
}

.inputContent span {
  color: red;
}

.inputPassword {
  position: relative;
}

.iconEye {
  position: absolute;

  top: 38px;
  right: 10px;
}

.spanLink {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 468px) {
  .container {
    padding: 1rem;
  }

  .content {
    width: 100%;
  }
}

@media (min-width: 1366px) {
  .content h1 {
    margin-bottom: 0px;
  }

  .spanLink {
    margin-top: 10px;
  }
}
