.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

.content {
  width: 450px;

  margin-top: 40px;
}

.content h1 {
  margin-bottom: 30px;

  text-align: center;
}

.inputContent {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.inputContent label {
  font-weight: 700;
}

.inputContent span {
  color: red;
}

.inputPassword {
  position: relative;
}

.iconEye {
  position: absolute;

  top: 38px;
  right: 10px;
}

.forgotLink {
  text-align: center;
  margin-top: 10px;
}

.spanLink {
  text-align: center;
  margin-top: 20px;
}


@media (max-width: 468px) {
  .container {
    padding: 1rem;
  }

  .content {
    margin-top: 50px;
    width: 100%;
  }
}

@media (min-width: 1366px) {
  .content {
    margin-top: 50px;
  }
  .content h1 {
    margin-bottom: 10px;
  }
}
