.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
  padding: 1rem;
}

.contentH2 {
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.h2 {
  margin-top: 60px;
  border-top: 1px solid var(--gray);
  padding-top: 10px;
}

.myLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  position: relative;
}

.deleteIcon {
  position: absolute;
  right: 10px;
  bottom: 5px;
}

@media (max-width: 768px) {
  .myLink {
    width: 100%;
  }
}
