.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 100px;
  padding-bottom: 60px;
}

.contentFormLink {
  width: 100%;
}

.contentH2 {
  width: 350px;
  text-align: center;
}

.h2 {
  margin-top: 60px;
  border-top: 1px solid var(--gray);
  padding-top: 10px;
}

.myLink {
  display: flex;
  align-items: center;
  width: 100%;

  position: relative;
}

.deleteIcon {
  position: absolute;
  right: 10px;
  bottom: 5px;
}
