.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.container h2 {
  margin-top: 20px;

  position: relative;
}

.avatar {
  position: relative;

  margin-top: 90px;
}

.description {
  text-align: center;
  line-height: 20px;
  min-height: 20px;
  margin-top: 12px;
  margin-bottom: 12px;
  word-break: breal-word;
  white-space: pre-wrap;
}
