.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.574);
  width: 100%;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  border-radius: 10px;
  padding: 30px;
  background-color: white;

  position: relative;
}

.closeModal {
  position: absolute;
  top: 8px;
  right: 8px;

  cursor: pointer;
}
.contentProfile {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.contentUpload {
  display: flex;
  align-items: center;
  justify-content: center;

  border-bottom: 1px solid var(--gray);
  padding-bottom: 30px;
  gap: 10px;
  width: 100%;
}

.avatar {
  border-radius: 50%;
  position: relative;
  width: 120px;
  height: 120px;
}

.inputFile label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 6px;
  border: none;
  border-radius: 10px;
  background: var(--gray);
  color: white;
  font-weight: 500;
  font-size: 14px;

  cursor: pointer;
}

.inputFile label:hover {
  opacity: 0.9;
}

.inputFile input[type="file"] {
  display: none;
}

.contentForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contentForm label {
  font-size: 14px;
}

.contentForm span {
  font-size: 12px;
  margin-left: 5px;
}

.inputColor {
  display: flex;
  flex-direction: column;
}

.inputColor label {
  font-size: 12px;
}

.inputColor input {
  width: 100%;
}

.boxColor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-top: 16px;
}

@media screen and (max-width: 414px) {
  .content {
    width: 100%;
    justify-content: center;
    padding: 1rem;
  }

  .contentUpload {
    flex-direction: column;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  .inputFile label {
    width: 140px;
    font-weight: 500;
    font-size: 14px;
  }

  .avatar {
    width: 120px;
    height: 120px;
  }
}

@media (max-height: 768px) {
  .container {
    padding-top: 70px;
  }
}
