.contentLogo {
  font-size: 24px;
  text-align: center;
}

.contentLogo span {
  color: var(--green);
}

@media (max-width: 768px) {
  .contentLogo {
    top: 50px;
    font-size: 22px;
  }
}

@media (min-width: 1366px) {
  .contentLogo {
    font-size: 30px;
  }
}
