.contentLogo {
  font-size: 18px;
  text-align: center;
}

.contentLogo span {
  color: var(--green);
}

@media (max-width: 768px) {
  .contentLogo {
    font-size: 18px;
  }
}

@media (min-width: 1366px) {
  .contentLogo {
    font-size: 18px;
  }
}
