.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.container h1 {
  text-align: center;
  font-size: x-large;
}

@media (max-width: 768px) {
  .container img {
    width: 90%;
    height: 30%;
  }
}
