.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.content {
  display: flex;
  flex-direction: column;

  width: 350px;
}

.title {
  margin-bottom: 10px;
  font-size: 24px;
}

.inputContent {
  margin-top: 30px;
}

.inputContent span {
  color: red;
}
