.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;

  width: 350px;
  margin-top: 40px;
}

.content span {
  text-align: center;
}

.title {
  margin-bottom: 10px;
  font-size: 24px;
  text-align: center;
}

.inputContent {
  margin-top: 30px;
}

.inputContent span {
  color: red;
}

.Link {
  text-align: center;
  margin-top: 20px;
}

@media screen and (max-width: 468px) {
  .container {
    padding: 1rem;
  }
  .content {
    width: 100%;
  }
}
